<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.10" targetFramework="net461" />
  <package id="Costura.Fody" version="3.1.2" targetFramework="net461" />
  <package id="Fody" version="3.2.4" targetFramework="net461" developmentDependency="true" />
  <package id="NamedPipeWrapper" version="1.5.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="PropertyChanged.Fody" version="2.5.11" targetFramework="net461" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="net461" />
</packages>