<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.10" targetFramework="net461" />
  <package id="Autofac" version="4.8.1" targetFramework="net461" />
  <package id="Costura.Fody" version="3.1.6" targetFramework="net461" />
  <package id="Fody" version="3.2.17" targetFramework="net461" developmentDependency="true" />
  <package id="NamedPipeWrapper" version="1.5.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="PropertyChanged.Fody" version="2.5.13" targetFramework="net461" />
  <package id="SevenZipExtractor" version="1.0.12" targetFramework="net461" />
  <package id="SharpCompress" version="0.23.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="net461" />
</packages>